@import "general.less";

#heading {
  width: 960px;
  margin: 30px auto 0px auto;
  position: relative;
}
  #heading h3 {
    color: @paprika-pink;
    display: inline-block;
  }
  #heading #nav {
    margin-top: 5px;
    float: right;
    word-spacing: 15px;  
  }
    #heading #nav a {
      font-size: 13px;
      color: #999;
      text-transform: uppercase;
    }

#content {
  width: 960px;
  margin: 20px auto 0px auto;
}
