@import "general.less";

#container {
  width: 840px;
  margin: 30px auto 0px auto;
}

#heading {
  position: relative;
}
  #heading h2 {
    color: @paprika-pink;
    display: inline-block;
    margin-bottom: 20px;
  }
  #heading #nav {
    margin-top: 5px;
    word-spacing: 15px;  
  }
    #heading #nav a {
      font-size: 13px;
      color: #999;
      text-transform: uppercase;
    }

#content {
  margin: 10px auto 0px auto;
  border: 1px solid #999;
}
