.btn {
  padding: 5px 10px 5px 10px;
  color: white;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
  .btn:hover {
    background: #999;
  }

.btn_green {
  background: @paprika-green;
}


