@import "general.less";
@import "fonts.less";
@import "input.less";
@import "buttons.less";


#add_flow_btn {
  color: #eee;
  position: absolute;
  right: 0;
  background: @paprika-green;
}

#flow_list {
  margin-top: 40px;
}
