@import "general.less";
@import "fonts.less";
@import "input.less";
@import "buttons.less";

#container {
  text-align: center;
  width: 480px;
  margin: 15% auto 0px auto;
}
  #container img {
    width: 100px;
  }
  #container h1 {
    font-size: 30px;
    font-weight: 500;
    color: #FF835D;
    margin-top: 10px;
    margin-bottom: 10px; 
  }
  #container form {
    margin-top: 20px;
    text-align: center;
  }
    #container form input {
      display: block;
      margin: 0px auto 5px auto;
    }
