@import "fonts.less";
@import "buttons.less";

#nav {
  padding: 10px;
}
  #nav #login {
    float: right;
  }
#container {
  width: 480px;
  margin: 20% auto 0px auto;
}
  #container h1 {
    font-weight: 500;
    color: #FF835D;
  }
