@import "general.less";
@import "fonts.less";
@import "buttons.less";

#nav {
  padding: 10px;
}
  #nav #login {
    float: right;
  }
#container {
  text-align: center;
  width: 480px;
  margin: 20% auto 0px auto;
}
  #container img {
    width: 100px;
  }
  #container h1 {
    font-weight: 500;
    color: #FF835D;
    margin-top: 10px;
    margin-bottom: 10px; 
  }
