@import "general.less";
@import "fonts.less";
@import "input.less";
@import "buttons.less";
@import "dialog.less";

body {
/*  background: url('../img/noisy_grid.png'); */
}

#container {
  text-align: center;
  width: 100%;
  margin: 0px auto 0px auto;
}
  #container #heading {
    margin-top: 15%;
    margin-bottom: 200px;
    text-align: center;
    position: relative;
  }
    #container #heading img {
      width: 100px;
    }
    #container #heading #mousedown_img {
      position: absolute;
      bottom: -180px;
      right: 20px;
    }
  #container .slide {
    width: 100%;
    padding: 300px 0px;
  }
    #container .slide .screen {
      margin-top: 30px;
      border: 10px solid #444;
    }
  #container .slidealt {
    background: @paprika-pink;
    color: white;
  }
    #container .slidealt h1 {
      color: white;
    }

/* SLIDES */
#slide 1 {
}
  #slide1 img {
    width: 100px;
  }
  #slide1 h1 {
    font-weight: 700;
  }

#slide2 {
}
  #slide2 h2 {
    font-weight: 300;
    color: white; 
  }
  #slide2 h1 {
    font-size: 50px;
    font-weight: 600;
    color: white;
    width: 700px;
    margin: 20px auto 0px auto;
  }

#slide3 {
}
  #slide3 h1 {
    width: 600px;
    margin: 30px auto;
  }
  #slide3 h2 {
    font-weight: 300;
    width: 600px;
    margin: 20px auto;
  }
  #slide3 h3 {
    color: @paprika-pink;
    font-size: 30px
    width: 500px;
    margin: 20px auto 0px auto;
  }

#slide4 {
}
  #slide4 h1 {
    margin: 30px auto;
    color: white;
  }
  #slide4 h2 {
    font-weight: 300;
    color: white;
  }

#slide5 {
}
  #slide5 h1 {
  }

#login_container {
  position: absolute;
  right: 5px;
  top: 5px;
}

#sign_up_btn {
  position: absolute;
  right: 70px;
  top: 5px;
}
#login_btn {
  position: absolute;
  right: 5px;
  top: 5px;
}
#customer_btn {
  position: absolute;
  top: 5px;
  left: 5px;
}

#sign_up_dialog {
  width: 200px;
  text-align: center;
}
  #sign_up_dialog h1 {
    margin-bottom: 10px;
  }
  #sign_up_dialog input {
    margin-bottom: 10px;
  }

#login_dialog {
  width: 200px;
  text-align: center;
}
  #login_dialog h1 {
    margin-bottom: 10px;
  }
  #login_dialog input {
    margin-bottom: 10px;
  }
