input[type=text], input[type=password] {
  padding: 5px;
  background: #f7e8e8;
  border: 1px solid #999;
}
  input[type=text]:focus, input[type=password]:focus {
    outline: none;
    background: white;
  }

input[type=submit] {
  border: none;
}

select {
  background: white;
  border: 1px solid #999;
  padding: 5px;
}
