@import "general.less";
@import "fonts.less";
@import "input.less";
@import "buttons.less";
@import "dialog.less";

#left_box {
  display: inline-block;
  width: 120px;
  vertical-align: top;
}
#right_box {
  width: 717px;
  border-left: 1px solid #999;
  display: inline-block;
  position: relative;
}


#sub_nav {
}
  #sub_nav a {
    font-size: 13px;
    text-transform: uppercase;
    color: #999; 
    display: block;
    padding: 5px;
  }
    #sub_nav a:hover {
      background: #999;
      color: white;
    }

#add_order_btn {
  color: #eee;
  position: absolute;
  right: 0;
  background: @paprika-green;
}
  #add_btn:hover {
    background: #f3e2e2;
    color: @paprika-pink;
  }


#order_list {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 10px 10px 10px;
  background: #eee;
}
  #order_list .order {
    padding: 10px;
    margin-bottom: 10px;
    background: white;
    box-shadow: 0px 0px 2px 2px #ccc;
    word-wrap: break-word;
  }
    #order_list .order .customer {
      font-size: 20px;
      font-weight: 600;
      color: #ccc;
      text-transform: uppercase;
    }
    #order_list .order .customer_email {
      font-size: 15px;
      font-weight: 600;
      color: @paprika-pink;
    }

.stages {
  height: 100px;
  margin-top: 10px;
  overflow: auto;
  background: #eee;
}
  .stages .stage {
    height: 100%;
    position: relative;
    float: left;
    color: #aaa;
    text-align: center;
    cursor: pointer;
    display: table;
  }
    .stages .stage .start_here {
      display: none;
      line-height: 100px;
    }
    .stages .stage .status_bar {
      position: absolute;
      top: 0; left: 0;
      background: #888;
      height: 100%;
      line-height: 100px;
      color: #ddd;
      font-size: 20px;
      padding: 0px 5px;
    }
    .stages .stage h4 {
      display: table-cell;
      padding-left: 25px;
      vertical-align: middle;
    }


#add_order_dialog {
}
  #add_order_dialog form {
  }


