@import "general.less";
@import "fonts.less";
@import "input.less";
@import "buttons.less";
@import "dialog.less";
@import "stages.less";

#container {
  margin-top: 15%;
}
  #container #header {
    text-align: center;
  }
    #container #header img {
      width: 100px;
    }
    #container #header p {
    }
    #container #header form {
      margin-top: 10px;
    }

#business_btn {
  position: absolute;
  top: 5px;
  left: 5px;
}


#search_results {
  width: 600px;
  margin: 30px auto 0px auto;
  border: 1px solid #999;
  padding: 10px;
}
.search_result {
  border: 1px solid #999;
  padding: 5px;
  box-shadow: 0px 0px 2px 2px #ccc; 
  margin-bottom: 20px;
  cursor: pointer;
}
  .search_result .business_name {
    font-size: 20px;
  }
  .search_result .time_entered {
    font-size: 15px;
  }

/* overriding stage styling */
.stage {
  cursor: auto !important;
}
  .stage:hover {
    background: #eee !important;
  }
