@import "general.less";
@import "fonts.less";
@import "input.less";
@import "buttons.less";
@import "dialog.less";
@import "stages.less";
@import "index.less";

#container {
  margin-top: 15%;
}
  #container img {
    width: 100px;
  }
  #container p {
  }
  #container form {
    margin-top: 10px;
  }

#business_btn {
  position: absolute;
  top: 5px;
  left: 5px;
}
