{% extends "bu_base.html" %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/flows.js" />
{% endblock %}

{% block less %}
  <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/flows.less" />
{% endblock %}

{% block dialogs %}
  <div id="add_flow_dialog" class="dialog">
    <div class="close_dialog">x</div>
    <h2 class="title">Add a Flow</h2>
    <input type="text" name="flow_name" id="flow_name" placeholder="Name your flow!" />
    <div class="btn btn_green" id="add_stage_btn">+</div>
    <div id="stage_form_list">
      <div class="stage_form">
        <input type="text" class="title" placeholder="Stage title" /><input type="text" class="description" placeholder="Stage Description"/>
      </div>
    </div>
    <div class="btn btn_green" id="create_flow_btn">Create this Flow!</div>
  </div>
{% endblock %}

{% block content %}
<a href="#" id="add_flow_btn" class="btn">+ Create a flow</a>
<div id="flow_list">
  {% for flow in user.business.flows.all %}
    <div class="flow">
      <h1>{{ flow.flow_name }}</h1>
      <div class="edit_flow">EDIT</div>
      <div class="stages">
      {% for stage in flow.stages.all %}
        <div class="stage" style='width: {% widthratio 790 flow.stages.count 1 %};'>
          <div class="status_bar">{{ forloop.counter }}</div>
          <h4 class="start_here">Start here.</h4>
          <h4 class="stage_title">{{ stage.title }}</h4>
        </div>
      {% endfor %}
      </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
