{% extends "bu_base.html" %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/flows.js" />
{% endblock %}

{% block less %}
  <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/flows.less" />
{% endblock %}

{% block dialogs %}
  <div id="add_flow_dialog" class="dialog">
    <div class="close_dialog">x</div>
    <h2 class="title">Add a Flow</h2>
    
    <form action="/bu/flows/" method="POST">
      {% csrf_token %}
      <input type="text" name="flow_name" id="flow_name" placeholder="Name your flow!" />
      <div class="btn btn_green" id="add_stage_btn">+</div>
      <div id="stage_form_list">
        <div class="stage_form">
          <input type="text" class="title" name="stage_titles" placeholder="Stage title" />
          <input type="text" class="description" name="stage_descriptions" placeholder="Stage Description"/>
          <div class="btn btn_red remove_stage">x</div>
        </div>
      </div>
      <input type="submit" class="btn btn_green" id="create_flow_btn" value="Create this flow!" />
    </form>  
  </div>

  <div id="edit_flow_dialog" class="dialog">
    <div class="close_dialog">x</div>
    <h2 class="title">Edit your Flow</h2>
    
    <form action="/bu/flows/edit/" method="POST">
      {% csrf_token %}
      <input type="text" name="flow_name" id="flow_name" />
      
    </form>
  </div>

  <div id="delete_flow_dialog" class="dialog">
    <div class="close_dialog">x</div>
    <h2 class="title">Delete your Flow</h2>
    <h4>Are you sure you want to delete this flow?</h4>
    <div class="btn btn_green close" id="no_delete_btn">Nevermind, take me back.</div>
    <div class="btn btn_red" id="yes_delete_btn">Yes, please delete this flow.</div>
  </div>

{% endblock %}

{% block content %}
<div id="add_flow_btn" class="btn btn_green">+ Create a flow</div>
<div id="flow_list">
  {% for flow in flows %}
    <div class="flow" data-flowid={{ flow.id }}>
      <h1>{{ flow.flow_name }}</h1>
      <div class="flow_actions">
        <!--<div class="edit_btn btn btn_grey">EDIT</div>--><div class="delete_btn btn btn_red">DELETE</div>
      </div>
      <div class="stages">
      {% for stage in flow.stages.all %}
        <div class="stage" style='width: {% widthratio 790 flow.stages.count 1 %}px;'>
          <div class="status_bar">{{ forloop.counter }}</div>
          <h4 class="start_here">Start here.</h4>
          <h4 class="stage_title">{{ stage.title }}</h4>
        </div>
      {% endfor %}
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
