{% extends "bu_base.html" %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/orders.js" />
{% endblock %}

{% block less %}
  <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/orders.less" />
{% endblock %}

{% block dialogs %}
  <div id="add_order_dialog" class="dialog">
    <div class="close_dialog">x</div>
    <h2 class="title">Add an order</h2>
    <form method="POST" action="/bu/orders/">
      {% csrf_token %}
      <p><input type="text" name="cust_name" placeholder="Customer name" /></p>
      <p>
        <input type="text" name="cust_phone" placeholder="Phone number"/>
        <input type="text" name="cust_email" placeholder="Email address" />
      </p>
      <select name="flow">
        {% for flow in user.business.flows.all %}
          <option value={{ flow.id }}>{{ flow.flow_name }}</option>
        {% endfor %}
      </select>
      <input type="text" name="order_code" placeholder="Order code"/>
      <input type="hidden" value="1" />
      <input type="submit" class="btn btn_green" value="Add Order" />
    </form>
  </div>
{% endblock %}

{% block content %}
<div id="left_box">
  <div id="sub_nav">
    <a href="/bu/orders/current/">Current</a>
    <a href="/bu/orders/done/">Done</a>
    <a href="/bu/orders/canceled/">Canceled</a>
  </div>
</div><div id="right_box">
  <a href="#" id="add_order_btn" class="btn">+ Add an order</a>
  <div id="order_list">
    {% for order in orders %}
      <div class="order">
        <h2 class="customer">{{ order.cust_name }}</h3>
        <h3 class="customer_email">{{ order.cust_email }}</h3>
        <div class="stages">
          {% for stage in order.flow.stages.all %}
            <div class="stage" style='width: {% widthratio 673 order.flow.stages.count 1 %};'>
              <div class="status_bar">{{ forloop.counter }}</div>
              <h4 class="start_here">Start here.</h4>
              <h4 class="stage_title">{{ stage.title }}</h4>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
