{% extends "bu_base.html" %}

{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/orders.js" />
{% endblock %}

{% block less %}
  <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/orders.less" />
{% endblock %}

{% block dialogs %}
  <div id="edit_order_dialog" class="dialog">
    <div class="close_dialog">x</div>
    <h2 class="title">Edit order</h2>
    <form method="POST">
      {% csrf_token %}
      <p><input type="text" name="cust_name" placeholder="Customer name" /></p>
      <p>
        <input type="text" name="cust_phone" placeholder="Phone number"/>
        <input type="text" name="cust_email" placeholder="Email address" />
      </p>
      <input type="text" name="order_code" placeholder="Order code"/>
      <input type="text" name="notes" placeholder="Notes"/>
      <input type="hidden" name="order_id" value="1"/>
      <input type="button" class="submit_edit_btn btn btn_green" value="Submit Order Edit" />
    </form>
  </div>
  <div id="add_order_dialog" class="dialog">
    <div class="close_dialog">x</div>
    <h2 class="title">Add an order</h2>
    <form method="POST" action="/bu/orders/">
      {% csrf_token %}
      <p>
        <input type="text" name="cust_name" placeholder="Customer name" />
      </p>
      <p>
        <input type="text" name="cust_phone" placeholder="Phone number"/>
        <input type="text" name="cust_email" placeholder="Email address" />
			</p>
      <p>	
        <input type="text" name="notes" placeholder="Notes"/>
			</p>
      <select name="flow">
        {% for flow in user.business.flows.all %}
          <option value={{ flow.id }}>{{ flow.flow_name }}</option>
        {% endfor %}
      </select>
      <input type="hidden" value="1" />
      <input type="submit" class="btn btn_green" value="Add Order" />
    </form>
  </div>
  <div id="delete_order_dialog" class="dialog">
    <div class="close_dialog">x</div>
    <h2 class="title">Delete this order</h2>
    <h4>Are you sure you want to delete this order?</h4>
    <div class="btn btn_green close" id="no_delete_btn">Nevermind, take me back.</div>
    <div class="btn btn_red" id="yes_delete_btn">Yes, please delete this order.</div>
  </div>
{% endblock %}



{% block content %}
<div id="left_box">
  <div id="sub_nav">
    <a href="/bu/orders/current/" {% if order_state == 'current' %} class="btn btn_yellow" {% endif %}>Current</a>
    <a href="/bu/orders/done/" {% if order_state == 'done' %} class="btn btn_green" {% endif %}>Done</a>
    <a href="/bu/orders/canceled/" {% if order_state == 'canceled' %} class="btn btn_red" {% endif %}>Canceled</a>
  </div>
</div><div id="right_box">
  <div id="add_order_btn" class="btn btn_green">+ Add an order</div>
  <div id="collapse_btn" class="btn btn_grey">collapse</div> 
  <div id="order_list">
    
    {% for order in orders %}
      <div class="order" data-orderid={{ order.id }} data-orderstate={{ order.state}}>
        <div class="order_actions">
          <div class="edit_btn btn btn_grey">Edit</div><div class="delete_btn btn btn_red">Delete</div>
        </div>
        <h2 class="customer">{{ order.cust_name }}</h3>
        <h3 class="customer_email">{{ order.cust_email }}</h3>
        {% if not order.cust_email == '' %}
          <div class="spacer"></div>
        {% endif %}
        <h3 class="customer_phone">{{ order.cust_phone }}</h3>
        <h3 class="time_entered">{{ order.time_entered }}</h3>  

        <div class="stages">
          {% for stage in order.flow.sorted_stages %}
            <div
              {% if stage == order.current_stage %}
                class="stage active"
              {% else %}
                class="stage"
              {% endif %}
              data-stageid={{ stage.id }} style='width: {% widthratio 673 order.flow.stages.count 1 %}px;'>
              <div class="status_bar">{{ forloop.counter }}</div>
              <h4 class="start_here">Move here.</h4>
              <h4 class="stage_title">{{ stage.title }}</h4>
            </div>
          {% endfor %}
        </div>
      
        <div class="state_bar">
          <div 
            {% if order.state == "current" %}
              class = "btn current_state btn_yellow"
            {% elif order.state == "done" %}
              class = "btn current_state btn_green"
            {% else %}
              class  = "btn current_state btn_red"
            {% endif %}    
          >{{ order.state }}</div>
          <div class="state_options">
            <div data-state="current" class="btn btn_yellow">Current</div>
            <div data-state="done" class="btn btn_green">Done</div>
            <div data-state="canceled" class="btn btn_red">Cancel</div>
          </div>
        </div>
      
      </div>
    {% endfor %}
  
  </div>



</div>

{% endblock %}
