{% load compress %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script> 
  {% compress css %}
  <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}less/signup.less" />
  {% endcompress %}
</head>

<body>
  <div id="container">
    <h1>Paprika</h1>
    <h3>Registration<h3>
    <form method="POST" action="/signup/" id="signup">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Username"/>
      <input type="text" name="email" placeholder="Email"/>
      <input type="password" name="password" placeholder="Password" />
      <input type="text" name="business_name" placeholder="Business Name"/>
      <input class="btn btn_green" type="submit" value="Login" /> 
    </form>
  </div>
</body>

